/**
 * Helper mixins
*/

@mixin transition($p) {
    transition-property: $p;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
}

@mixin border-inset($width, $color) {
    box-shadow: inset $width 0 0 $color,
        inset 0 $width 0 $color,
        inset (-$width) 0 0 $color,
        inset 0 (-$width) 0 $color;
}

@mixin hover {
    @media (hover) {
        &:hover {
            @content;
        }
    }
}

// Clearfix
// http://www.cssmojo.com/latest_new_clearfix_so_far/
// Other clearfix options: https://github.com/stubbornella/oocss/blob/master/oocss/src/components/utils/_clearfix-me.scss
@mixin clearfix {
    &::after {
        clear: both;
        content: '';
        display: table;
    }
}

// Text selection
@mixin text-selection($color-selection, $color-selection-bg) {
    ::-moz-selection {
        // sass-lint:disable-line no-vendor-prefixes
        background: $color-selection-bg;
        color: $color-selection;
        text-shadow: none;
    }

    ::selection {
        background: $color-selection-bg;
        color: $color-selection;
        text-shadow: none;
    }
}

//Placeholders
//Usage:
//@include placeholder;
@mixin placeholder {

    // sass-lint:disable no-vendor-prefixes
    ::-webkit-input-placeholder {
        @content
    }

    :-moz-placeholder {
        @content
    }

    ::-moz-placeholder {
        @content
    }

    :-ms-input-placeholder {
        @content
    }
}
